doctype html
html
    head
        link(href='/css/app.css' rel='stylesheet' type='text/css')
    body
        #content
            block content

            


        script(type="text/javascript" src="/js/vendors.js")
        script(type="text/javascript" src="/js/app.js")

